nav{
    height: 68px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background-color: #29017a;
    color: #fff;
}
.logo img{
    height: 75px;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
nav ul li{
    list-style: none;
}
.link{
    text-decoration: none;
    padding: 5px 25px;
    font-size: 18px;
}
nav a{
    padding: 8px;
    border-radius: 6px;
    background-color: transparent;
    /* border: 1px solid white; */
    color: #fff;
    font-weight: 600;
    font-size: 17px;
}
