.sidebar{
    height: 92.7vh;
    width: 270px;
    background-color:#ffffff ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
    overflow: scroll;
    scrollbar-width: none;
    border-right: 1px solid gray;
    /* position: fixed; */

    
}
.sidebar h2{
    font-weight: 800;
    text-decoration: underline; 
    color: #29017a;
    width: 100%;
}
.sidebar>.subtopic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: auto;
    width: 90%;
    /* background-color: aqua; */
    padding: 10px;
    margin-left: 15px;
    
}
.sidebar>.subtopic>a{
    color: #000000;
    font-size: 1rem;
    text-decoration: none;
}
/* Hide sidebar in mobile view */
@media screen and (max-width: 768px) {
    .sidebar {
        position: fixed;
        left: -100%; /* Initially hidden */
        top: 0;
        height: 100vh;
        width: 300px;
        background-color:rgba(255, 255, 255, 0.8);
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
        transition: transform 0.3s ease-in-out;
        z-index: 1000;
        overflow: scroll;
        scrollbar-width: none;
    }

    .sidebar.open {
        transform: translateX(100%);
    }
    .sidebar h2{
        font-size: 24px;
        padding: 0 10px;
        text-decoration: none;
    }
    .sidebar>.subtopic>a{
        color: #000000;
        font-size: 16px;
    }
    .sidebar>.subtopic{
        gap: 5px;  
    }
}
/* Close button styling */
.close-btn {
    position: absolute;
    top: 10px;
    right: 5px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
